*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body{
  /*background-color: #ccc;*/
  margin:30px 50px;
 line-height:1.4;
 background: linear-gradient(white,#ccc);


}

p{
  display: block;
  font-family:"Lucida"  Grande sans-serif;
}

#welcome-section{
  background-color: #ccc;
  text-align: center;
}

/*#container{
  display: grid;
  grid-gap: 20px;
grid-template-areas: "welcome-section"
                     "navbar"
                     "content"
                     "profile-link";


  margin:2rem;
  padding: 1rem;
background-color:grey;
}

#navbar ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
*/
 a:hover{
  text-decoration: none;
}

 img{

border-radius: 50%;

}



th {
  background-color: #4CAF50;
  color: white;
}

#projects ul{
  list-style-type: none;
}

#profile-link{
  display: flex;
  margin-top: 2rem;
  background:#ccc ;
  color:grey ;
  text-align: center;
  padding: 1rem;
}

#profile-link ul{
  list-style-type: none;
}
